body{
  overflow-x: hidden;
  overflow-y: scroll;
  background: /*#984B43 #233237;*/ #18121E;

}

#blogContainer {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

#article1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}

#blogElement1 {
  height: 90vh;
  width: 66vw;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; 
  top: 10vh;
  background: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Oxygen', serif;
  color: /*#EAC67A;*/ white;

}

div {
  font-family: 'Oxygen', serif;
  color: #010b13 ;
}

#formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50vw;
  top: 10vh;

}

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50vw;
  top: 10vh;
  background: #18121E;
  color: white;

}

#AboutH1 {
  width: 50vw;
  text-align: center
}

.App {
  text-align: center;
}

#mainNavBar {
  position: fixed;
  
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;*/
  background: #18121E;
  height: 10vh;
  width: 100vw;
  z-index: 2;
  border: 0.5px #233237 solid;
}

.scenes {
  margin-bottom: 9.5vh;

}

#NavLinkDiv {
  position: fixed;
  height: 10vh;
  right: 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

#TitleDiv {
  position: fixed;
  height: 10vh;
  width: 20vw;
  left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title {
 

}

.NavLink {
  text-align: center;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  color: white;
  text-decoration: none
}

.fade-enter {
   opacity: 0;
}

.fade-enter.fade-enter-active {
   opacity: 1;
   -webkit-transition: opacity 400ms linear;
   -o-transition: opacity 400ms linear;
   transition: opacity 400ms linear
}

.fade-exit {
   opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#layer1 {

  height: 60vh;
  width: 100vw;
}

#foreground {
  width: 100vw;
  height: 60vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;


}

 #Foreground2 {
  width: 100vw;
  height: 90vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;


}

#TechListUpButton {
  position: relative;
  top: 30vh;
}

#foreground4, #foreground5, #foreground6 {

    position: relative;

}

#foreground1 {
  opacity: 0;
  position: relative;
  -webkit-animation: 2s linear 1 forwards opaque;
  animation: 2s linear 1 forwards opaque;
}

@-webkit-keyframes opaque {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1
  }

  100% {
    opacity: 0;
  }
}

@keyframes opaque {
  0% {
    opacity: 0;
  }

 
  50% {
    opacity: 1
  }

  100% {
    opacity: 0;
  }
}

#foreground2 {
  opacity: 0;
  position: relative;
  -webkit-animation: 1s linear 1s 1 forwards opaqueBis;
  animation: 1s linear 1s 1 forwards opaqueBis;
  font-size: 3rem !important
}

@-webkit-keyframes opaqueBis {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opaqueBis {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#foreground3 {
  opacity: 0;
  position: relative;
  -webkit-animation: 1s linear 2s 1 forwards opaqueTer;
  animation: 1s linear 2s 1 forwards opaqueTer;
}

@-webkit-keyframes opaqueTer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opaqueTer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes foreground4 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes foreground4 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes foreground5 {
  0% {
    top: 0;
  }

  100% {
    top: 0vh;
  }
}

@keyframes foreground5 {
  0% {
    top: 0;
  }

  100% {
    top: 0vh;
  }
}

@-webkit-keyframes foreground6 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes foreground6 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#scene {
  top: 25vh;
  height: 60vh;
  width: 100vw;
   margin-bottom: 20vh;
}

#plain {
  height: 90vh;
  margin-top: 60vh;
  
  /*transform: scale(1.125) !important;*/

}

#scene2, #layer2 {
  /*display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;*/
  height: 90vh !important;
  width: 100vw;



}


#scene2Layer2 {
  /*display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;*/
  height: 90vh !important;
  width: 100vw;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center



}



#content {
  /*margin-top: 50vh;*/
  width: 100vw;
  height: 90vh;
  /*top: 49vh;*/        
}

#contentForeground {
  width: 100vw;
  height: 90vh;
   display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentDiv {

  height: 90vh;
  width: 100vw;
}

.quotes {
  position: relative;
  background: #18121E;
  color: /*#EAC67A;*/ white;

}

#slideIn1 {
  position: absolute;
  opacity: 0;

  
}

#quote1 {

top: 50vh;
left: 20vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 23vh;
left: 25vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 45vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 23vh;
  left: 65vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 65vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#contentButton1 {
  position: relative;
}


#contentButton2 {
   position: relative;
   /*top: 36vh;*/
}

@-webkit-keyframes slideIn {
  0% {
    left: -1000px;

  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slideIn {
  0% {
    left: -1000px;

  }
  100% {
    opacity: 1;
    left: 0;
  }
}

#ProjectsContainer {
  position: absolute;
  top: 10vh;
}

#scene3 {
  height: 90vh;
  width: 100vw;
  background: #CAEBF2;
}

#ProjectsLayer1 {
  height: 90vh;
  width: 100vw;

}

#ProjectsLayer2 {
  height: 90vh;
  width: 100vw;

}


.ProjectsLayerImage1 {
  height: 50vh;
  width: 50vw;
}


#ProjectsLayer4, #scene5Layer2, #scene6Layer2 {
  height: 90vh;
  width: 100vw;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 #scene5Layer2, #scene6Layer2 {
  height: 90vh;
  width: 100vw;
 }

.ProjectLayerImage2 {
  position: absolute;
  height: 50vh;
  width: 50vw;
}

#TeaMain, #Tea2 {
  position: relative;
  -webkit-animation: 1s linear 1 forwards slideInImage;
          animation: 1s linear 1 forwards slideInImage;
}

.ArrowClass {
  height: 10vh;
  width: 10vw;
}

#Arrow1 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes slideInImage {

  0% {
    left: -1000px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideInImage {

  0% {
    left: -1000px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

#Tea3, #TeaMenu {
  position: relative;
  -webkit-animation: 1s linear 1 forwards slideInImageBis;
          animation: 1s linear 1 forwards slideInImageBis;
}


@-webkit-keyframes slideInImageBis {

  0% {
    right: -1000px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}


@keyframes slideInImageBis {

  0% {
    right: -1000px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

.h1Projects  {

  background: #18121E;
  color: #EAC67A;
}

#plain2 {
  height: 40vh;
  width: 100vw;
}

#plain3 {
  height: 40vh;
  width: 100vw;
}

#scene4 {
  height: 90vh;
  width: 100vw;
  background: #CAEBF2;
  opacity: 0;
};


#scene5image1, #scene6image1 {
   opacity: 0;
}

#scene4Layer1, #scene4image1, #scene5Layer1, #scene5image1,  #scene6Layer1, #scene6image1,{
  height: 90vh;
  width: 100vw;

  
}

#scene4Layer2, #scene5Layer2, #scene6Layer2 {
  height: 90vh;
  width: 100vw;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}


@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes appear1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    
  }
}

@keyframes appear1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    
  }
}

@-webkit-keyframes appear2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

.techImages {
  position: relative; 
  left: -10000px;
}

@-webkit-keyframes appear3 {
  0% {
   left: -10000px;
  }

  100% {
    left: 0
  }
}

@keyframes appear3 {
  0% {
   left: -10000px;
  }

  100% {
    left: 0
  }
}

@-webkit-keyframes appear4 {
  0% {
   left: -10000px;
  }

  100% {
    left: 0
  }
}

@keyframes appear4 {
  0% {
   left: -10000px;
  }

  100% {
    left: 0
  }
}




@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}




@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


::-webkit-scrollbar { 
    display: none; 
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

#ParisBackground {
  height: 90vh;
  
}

#OriginContainer {
  display: flex !important;
  height: 90vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#OriginLeft {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#OriginRight {
  height: 90vh;
  width: 100vw;
  background: /*#18121E*/ transparent;
  color: /*#EAC67A;*/ white;
}

#OriginText {
  width: 25vw;
  height: auto;
  position: relative; 
  left: 8vw;
  top: -10vh;
}

#OriginText2 {
   width: 25vw;
  height: auto;
}

#OriginRightUp {
  position: relative;
  height: 45vh;
  width: 30vw;
  top: -2vh;
  left: 12vw;
  opacity: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  /*#18121E*/ transparent;
  color: /*#EAC67A*/ white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}


#OriginRightDown {
  position: relative;
  right: 50vw;
  height: 45vh;
  width: 50vw;
  top: 8vh;
  opacity: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  /*#18121E*/ transparent;
  color: /*#EAC67A*/ white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@keyframes OriginUp {
  0% {
      top: -2000px;
      opacity: 0;
  }

85% {

 opacity: 1
}
  100% {
    top: 0;
    /*opacity: 1;*/
  }
}

@keyframes OriginDown {
  0% {
      bottom: -2000px;
  }

  100% {
    bottom: 0;
    /*opacity: 1;*/
  }
}



#Eiffel {
  height: 90vh;
  width: 50vw;
  /*transform-origin: center;
  animation: 3s linear infinite Paris;*/
}

#ParisForeground {
  display: flex !important;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

}

#Dove {
  display: none;
  position: relative;
  -webkit-animation: 8s linear infinite Dove;
          animation: 8s linear infinite Dove;
  
  
}

/*@-webkit-keyframes Dove {
  0% {
      left: 0;
      transform: scale(0.8)
  }

  2.5% {
    top: 4vh;
    left: 5vw;
  }

10% {
  top: 15vh;
  left: 20vw;
}

  12.5% {
      top: 20vh;
      left: 25vw;
       transform: scale(1.2)
      
  }

  15% {
       top: 22.5vh;
      left: 28vw;
  }

 20% {
   top: 30vh;
   left: 40vw;
 }

 25% {
    top: 45vh;
    left: 50vw;
     transform: scale(1.6)
   
 }
  27% {opacity: 0}

  32.5% {

    left: -5vw;
  }

  50% {
      left: -5vw;
      opacity: 0;
  }
  90% { left: 0; }
  100% { opacity: 1; }
}

@keyframes Dove {
  0% {
      left: 0;
      transform: scale(0.8)
  }

  2.5% {
    top: 4vh;
    left: 5vw;
  }

10% {
  top: 15vh;
  left: 20vw;
}

  12.5% {
      top: 20vh;
      left: 25vw;
        transform: scale(1.2)
      
  }

  15% {
       top: 22.5vh;
      left: 28vw;
  }

 20% {
   top: 30vh;
   left: 40vw;
 }

 25% {
    top: 45vh;
    left: 50vw;
    transform: scale(1.6)
    
 }
  27% {opacity: 0}

  32.5% {

    left: -5vw;
  }

  50% {
      left: -5vw;
      opacity: 0;
  }
  90% { left: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes Paris {

  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Paris {

  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}*/

#Man { display: none };

/*#ManGif {
  -webkit-clip-path: ellipse();
          clip-path: ellipse();
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-animation: 5s linear infinite ManGif;
          animation: 5s linear infinite ManGif;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes ManGif {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 88vh;
    left: 21.5vw;

  }

  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }

  50% {
     -webkit-transform: scale(0.7);
             transform: scale(0.7);
     top: 87vh;
      left: 22.5vw;
  }

  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6)
  }

  85% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.0);
            transform: scale(0.0);
    top: 86vh;
     left: 23vw;
   
  }
}

@keyframes ManGif {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 80vh;
    left: 21.5vw;

  }

  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }

  50% {
     -webkit-transform: scale(0.7);
             transform: scale(0.7);
     top: 79vh;
     left: 22.5vw;
  }

  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6)
  }

  85% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.0);
            transform: scale(0.0);
    top: 77vh;
    left: 23vw;
    
  }
}*/




.animButton:hover {
position: relative;
animation: 1s linear infinite buttonMove;

}

button:hover {
 cursor: pointer;
}

@keyframes buttonMove {
  0% {
    top: 0;
  }

50% {
top: -1vh;
}
  100% {
 top: 0;
  }
}

#Links {
  height: 45vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LinksImage {

  height: 10vh;
  width: 5vw;
  margin-right: 1vw;
  margin-left: 1vw;
}

.LinksImage:hover {

  cursor: pointer;
  transform: scale(1.3);
}

#About {
  height: 45vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#AboutFlavourText {
  width: 35vw;
  color: white;
  text-align: justify;
  line-height: 1.5;
  text-justify: inter-word;
  overflow-y: scroll;


}

.inputs {
  vertical-align: center;
  line-height: 1.5;
  width: 14vw;
  height: 2.5vh;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
  border: 1px #18121E solid;
  padding: 1vw 1vh;
  background: #18121E;
  color: white;
}

#message {
  vertical-align: center;
  line-height: 1.5;
  width: 14vw;
  height: 7.5vh;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
   border: 1px #18121E solid;
   padding: 1vw 1vh;
   background: #18121E;
  color: white;
}

.labels {
  width: 15vw;
  color: #EAC67A;
  font-weight: bold;
  font-size: 0.75rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#submit {
  border: 1px #EAC67A solid;
  outline: none;
  width: 7.5vw;
  height: 7.5vh;
  color: #EAC67A;
   background: #18121E;
}

#submit:hover {
  cursor: pointer;
  background: #233237;
  color: white;
}

#navTextContainer {
  width: 100vw;
  height: 40vh;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
}

#navText {
  opacity: 0;
  height: 20vh;
  width: 20vw;
  color: #EAC67A;
  font-size: 1rem;
  animation: 5s linear 2s 1 forwards opaqueFour;


}

@keyframes opaqueFour {

  0% {
    opacity: 0
     
  }

  20% {

   opacity: 1 

 }

  80% {

    opacity: 1
  }

  100% {

    opacity: 0

  }
  
}



@media (max-width: 1241px) {
  /*#quote4 {
    left: 15vw;
  }
*/
  #scene4image1 {
  height: 100vh;
}

}

@media (max-width: 1023px) {
  /*#quote4 {
    left: 7.5vw;
  }*/
  #scene4image1 {
  height: 100vh;
}

.animButton, #TechListUpButton, .ProjectsButton {

  width: 15vw !important;
  height: 10vh !important;
}

}

@media (max-width: 990px) {

  h1 {
  font-size: 1.5rem
}

#OriginRightUp, #OriginRightDown {

  font-size: 1.5rem
}

  #title {
    font-size: 1rem
  }

  #AboutFlavourText {
    font-size: 0.75rem
  }

  .LinksImage {
    width: 10vw;

  }

  #submit {
    width: 14vw;
  }



#scene4image1 {
  height: 100vh;
}
.inputs {
  width: 24vw;

}

.labels {
  width: 25vw;
}

#message {
  width: 24vw;
}

}


@media (max-width: 937px) {

   #quote2, #quote3, #quote4 {
    width: 80vw;
  }

  /*#quote5 {
    left: 48vw;
  }*/

    #quote1 {

top: 50vh;
left: 5vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 23vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 30vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 23vh;
  left: 50vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 50vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}



}

@media (max-width: 760px) {
#quote1, #quote2, #quote3, #quote4, #quote5 {
    font-size: 0.9rem;
    width: 40vw !important;
  }


.animButton, #TechListUpButton, .ProjectsButton {

  width: 15vw !important;
  height: 10vh !important;
}


}


@media (max-width: 640px) {

#foreground5, #foreground4, #foreground6 {
  font-size: 0.9rem
}

#quote5 {

  width: 40vw;
}

#mongodbLogo {
  height: 20vh !important;
}

}
@media (max-width: 580px) {
  /*#quote5 {
    left: 23vw;
  }
*/
  #navText {
    font-size: 0.8rem
  }
}



@media (max-width: 402px) {
  /*#quote5 {
    left: 5vw;
  }*/

 #foreground5, #foreground4, #foreground6 {
    font-size: 0.75rem
  }

  @keyframes foreground5 {
  0% {
     top: 0;

  }

  100% {
     
     top: -5vh;
  }
}
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1400px) {
  /* iPhone, Android rules here */
  #quote1, #quote2, #quote3, #quote4, #quote5 {
    opacity: 1;
    font-size: 1.5rem;
    width: 40vw !important;
  }

#scene4image1 {
  height: 100vh;
}

 #quote1 {

top: 50vh;
left: 5vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 18vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 30vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 18vh;
  left: 50vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 50vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}




h1 {
  font-size: 2rem
}

#foreground5 {

  font-size: 1.2rem;
}

#OriginRightUp, #OriginRightDown {

  font-size: 2rem
}


.animButton, .ProjectsButton  {

  width: 10vw !important;
  height: 15vh !important;
}

#TechListUpButton {

   width: 10vw !important;
  height: 15vh !important;
}

.labels {

  width: 25vw;
}

.inputs, #message {
  width: 24vw;
}

#AboutFlavourText {
  font-size: 1.2rem;
  overflow-y: scroll
}



}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone, Android rules here */
  #quote1, #quote2, #quote3, #quote4, #quote5 {
    opacity: 1;
    font-size: 0.75rem;
    width: 40vw !important;
  }

  #navText {
    font-size: 0.8rem
  }

  #mongodbLogo {
  height: 15vh !important;
}


#scene4image1 {
  height: 100vh;
}



   #quote1 {

top: 50vh;
left: 5vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 23vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 35vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 23vh;
  left: 55vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 55vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}





h1 {
  font-size: 1rem
}

#OriginRightUp, #OriginRightDown {

  font-size: 1rem
}

.animButton, #TechListUpButton, .ProjectsButton  {

  width: 20vw !important;
  height: 15vh !important;
}

.labels {

  width: 25vw;
}

.inputs, #message {
  width: 24vw;
}

#AboutFlavourText {
  font-size: 0.6rem;
  overflow-y: scroll
}



}



@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) and (orientation: landscape) {
  /* iPhone, Android rules here */
  #quote1, #quote2, #quote3, #quote4, #quote5 {
    opacity: 1;
    font-size: 0.75rem;
    width: 40vw;
  }

 #quote1 {

top: 45vh;
left: 0vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 23vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 30vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 18vh;
  left: 50vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 50vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}



}


@media only screen and (min-device-width: 568px) and (max-device-width: 812px) and (orientation: landscape) {
  /* iPhone, Android rules here */
  #quote1, #quote2, #quote3, #quote4, #quote5 {
    opacity: 1;
    font-size: 0.75rem;
    width: 40vw;
  }

#scene4image1 {
  height: 100vh;
}



 #quote1 {

top: 50vh;
left: 5vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 23vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 30vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 23vh;
  left: 50vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 50vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}





h1 {
  font-size: 1rem
}

#OriginRightUp, #OriginRightDown {

  font-size: 1rem
}

.animButton, .ProjectsButton  {

  width: 10vw !important;
  height: 15vh !important;
}

#TechListUpButton {

   width: 10vw !important;
  height: 15vh !important;
}

.labels {

  width: 25vw;
}

.inputs, #message {
  width: 24vw;
}

#AboutFlavourText {
  font-size: 0.6rem;
  overflow-y: scroll
}

#mongodbLogo {
  height: 20vh;
}


}

.makeInteractive2 {
  position: relative;
    top: -30vh;
    width: 5vw;
    height: 5vh;
    left: 10vw;

}




@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) and (orientation: landscape) {
  /* iPhone, Android rules here */
  #quote1, #quote2, #quote3, #quote4, #quote5 {
    opacity: 1;
    font-size: 0.75rem;
    width: 40vw;
  }

 #quote1 {

top: 45vh;
left: 5vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 18vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  top: 28vh;
  left: 30vw;
 
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 18vh;
  left: 50vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
top: 60vh;
left: 50vw;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}



}


#buttonDownDiv {
  position: relative;
  top: 5vh;
  height: 15vh;
  width: 100vw;
  display: flex ;
  flex-direction: row ;
  justify-content: center ;
  align-items: flex-end ;
}



