body{
  overflow-x: hidden;
  overflow-y: scroll;
}


.App {
  text-align: center;
}

#mainNavBar {
  position: fixed;
  
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;*/
  background: silver;
  height: 10vh;
  width: 100vw;
  z-index: 2;
}

.scenes {
  margin-bottom: 9.5vh;

}

#NavLinkDiv {
  position: fixed;
  height: 10vh;
  right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

#TitleDiv {
  position: fixed;
  height: 10vh;
  width: 20vw;
  left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title {
 

}

.NavLink {
  text-align: center;
  margin-right: 2vw;
  margin-left: 2vw
}

.fade-enter {
   opacity: 0;
}

.fade-enter.fade-enter-active {
   opacity: 1;
   -webkit-transition: opacity 400ms linear;
   -o-transition: opacity 400ms linear;
   transition: opacity 400ms linear
}

.fade-exit {
   opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  transition: opacity 400ms linear
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#layer1 {

  height: 40vh;
  width: 100vw;
}

#foreground {
  width: 100vw;
  height: 40vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;


}

 #Foreground2 {
  width: 100vw;
  height: 90vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;


}

#foreground4, #foreground5, #foreground6 {

    position: relative;

}

#foreground1 {
  opacity: 0;
   position: relative; 
  -webkit-animation: 1s linear 1 forwards opaque; 
          animation: 1s linear 1 forwards opaque;

}

@-webkit-keyframes opaque {

  0% {
    opacity: 0;
     
  }

  100% {
    opacity: 1
     
  }
}

@keyframes opaque {

  0% {
    opacity: 0;
     
  }

  100% {
    opacity: 1
     
  }
}


#foreground2 {
  opacity: 0;
  position: relative; 
  -webkit-animation: 1s linear 1s 1 forwards opaqueBis; 
          animation: 1s linear 1s 1 forwards opaqueBis;

}

@-webkit-keyframes opaqueBis {

  0% {
    opacity: 0;
    
  }

  100% {
    opacity: 1
  }
}

@keyframes opaqueBis {

  0% {
    opacity: 0;
    
  }

  100% {
    opacity: 1
  }
}

#foreground3 {
  opacity: 0;
   position: relative; 
  -webkit-animation: 1s linear 2s 1 forwards opaqueTer; 
          animation: 1s linear 2s 1 forwards opaqueTer;

}


@-webkit-keyframes opaqueTer {

  0% {
    opacity: 0;
  
  }

  100% {
    opacity: 1;
  }
}


@keyframes opaqueTer {

  0% {
    opacity: 0;
  
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes foreground4 {
  0% {
       opacity: 1  }

  100% {
       opacity: 0;
  }
}

@keyframes foreground4 {
  0% {
       opacity: 1  }

  100% {
       opacity: 0;
  }
}

@-webkit-keyframes foreground5 {
  0% {
     top: 0;

  }

  100% {
     
     top: -10vh;
  }
}

@keyframes foreground5 {
  0% {
     top: 0;

  }

  100% {
     
     top: -10vh;
  }
}

@-webkit-keyframes foreground6 {
  0% {
    opacity: 1
  }

  100% {
    
    opacity: 0;
  
  }
}

@keyframes foreground6 {
  0% {
    opacity: 1
  }

  100% {
    
    opacity: 0;
  
  }
}

#scene {
  top: 35vh;
  height: 40vh;
  width: 100vw;
   margin-bottom: 25vh;
}

#plain {
  height: 90vh;
  margin-top: 60vh;
  
  /*transform: scale(1.125) !important;*/

}

#scene2, #layer2 {
  /*display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;*/
  height: 90vh !important;
  width: 100vw;



}


#scene2Layer2 {
  /*display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;*/
  height: 90vh !important;
  width: 100vw;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center



}



#content {
  /*margin-top: 50vh;*/
  width: 100vw;
  height: 90vh;
  /*top: 49vh;*/        
}

#contentForeground {
  width: 100vw;
  height: 90vh;
   display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentDiv {

  height: 90vh;
  width: 100vw;
}

.quotes {
  position: relative;
  background: silver;
}

#slideIn1 {
  position: absolute;
  opacity: 0;

  
}

#quote1 {

top: 50vh;
left: 40vw;
opacity: 0;
}

@keyframes quote1Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote2{
top: 10vh;
left: 10vw;
opacity: 0;
  
}

@keyframes quote2Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote3 {

  left: 75vw;
  top: 15vh;
  opacity: 0;
}

@keyframes quote3Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote4 {

  top: 65vh;
  left: 30vw;
  opacity: 0;
}

@keyframes quote4Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#quote5 {

opacity: 0;
  
}

@keyframes quote5Anim {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#contentButton1 {
  position: relative;
}


#contentButton2 {
   position: relative;
   /*top: 36vh;*/
}

@-webkit-keyframes slideIn {
  0% {
    left: -1000px;

  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slideIn {
  0% {
    left: -1000px;

  }
  100% {
    opacity: 1;
    left: 0;
  }
}

#ProjectsContainer {
  position: absolute;
  top: 10vh;
}

#scene3 {
  height: 90vh;
  width: 100vw;
  background: cyan;
}

#ProjectsLayer1 {
  height: 90vh;
  width: 100vw;

}

#ProjectsLayer2 {
  height: 90vh;
  width: 100vw;

}


.ProjectsLayerImage1 {
  height: 50vh;
  width: 50vw;
}


#ProjectsLayer4, #scene5Layer2, #scene6Layer2 {
  height: 90vh;
  width: 100vw;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

 #scene5Layer2, #scene6Layer2 {
  height: 90vh;
  width: 100vw;
 }

.ProjectLayerImage2 {
  position: absolute;
  height: 50vh;
  width: 50vw;
}

#TeaMain, #Tea2 {
  position: relative;
  -webkit-animation: 1s linear 1 forwards slideInImage;
          animation: 1s linear 1 forwards slideInImage;
}

.ArrowClass {
  height: 10vh;
  width: 10vw;
}

#Arrow1 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes slideInImage {

  0% {
    left: -1000px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideInImage {

  0% {
    left: -1000px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

#Tea3, #TeaMenu {
  position: relative;
  -webkit-animation: 1s linear 1 forwards slideInImageBis;
          animation: 1s linear 1 forwards slideInImageBis;
}


@-webkit-keyframes slideInImageBis {

  0% {
    right: -1000px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}


@keyframes slideInImageBis {

  0% {
    right: -1000px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

.h1Projects  {

  background: silver;
}

#plain2 {
  height: 40vh;
  width: 100vw;
}

#plain3 {
  height: 40vh;
  width: 100vw;
}

#scene4 {
  height: 90vh;
  width: 100vw;
  background: cyan;
  opacity: 0;
};


#scene5image1, #scene6image1 {
   opacity: 0;
}

#scene4Layer1, #scene4image1, #scene5Layer1, #scene5image1,  #scene6Layer1, #scene6image1,{
  height: 90vh;
  width: 100vw;

  
}

#scene4Layer2, #scene5Layer2, #scene6Layer2 {
  height: 90vh;
  width: 100vw;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}


@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes appear1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    
  }
}

@keyframes appear1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    
  }
}

@-webkit-keyframes appear2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

.techImages {
  position: relative; 
  left: -10000px;
}

@-webkit-keyframes appear3 {
  0% {
   left: 10000px;
  }

  100% {
    left: 0
  }
}

@keyframes appear3 {
  0% {
   left: 10000px;
  }

  100% {
    left: 0
  }
}

@-webkit-keyframes appear4 {
  0% {
   left: -10000px;
  }

  100% {
    left: 0
  }
}

@keyframes appear4 {
  0% {
   left: -10000px;
  }

  100% {
    left: 0
  }
}




@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}




@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


::-webkit-scrollbar { 
    display: none; 
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

#ParisBackground {
  height: 90vh;

  
}

#OriginContainer {
  display: flex !important;
  height: 90vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#OriginLeft {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#OriginRight {
  height: 90vh;
  width: 100vw;
}

#OriginRightUp {
  height: 45vh;
  width: 50vw;
}


#OriginRightDown {
  height: 45vh;
  width: 50vw;
}


#Eiffel {
  height: 90vh;
  width: 50vw;
  /*transform-origin: center;
  animation: 3s linear infinite Paris;*/
}

#ParisForeground {
  display: flex !important;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

}

#Dove {
  position: relative;
  -webkit-animation: 8s linear infinite Dove;
          animation: 8s linear infinite Dove;
  
  
}

@-webkit-keyframes Dove {
  0% {
      left: 0;
      transform: scale(0.8)
  }

  2.5% {
    top: 4vh;
    left: 5vw;
  }

10% {
  top: 15vh;
  left: 20vw;
}

  12.5% {
      top: 20vh;
      left: 25vw;
       transform: scale(1.2)
      
  }

  15% {
       top: 22.5vh;
      left: 28vw;
  }

 20% {
   top: 30vh;
   left: 40vw;
 }

 25% {
    top: 45vh;
    left: 50vw;
     transform: scale(1.6)
   
 }
  27% {opacity: 0}

  32.5% {

    left: -5vw;
  }

  50% {
      left: -5vw;
      opacity: 0;
  }
  90% { left: 0; }
  100% { opacity: 1; }
}

@keyframes Dove {
  0% {
      left: 0;
      transform: scale(0.8)
  }

  2.5% {
    top: 4vh;
    left: 5vw;
  }

10% {
  top: 15vh;
  left: 20vw;
}

  12.5% {
      top: 20vh;
      left: 25vw;
        transform: scale(1.2)
      
  }

  15% {
       top: 22.5vh;
      left: 28vw;
  }

 20% {
   top: 30vh;
   left: 40vw;
 }

 25% {
    top: 45vh;
    left: 50vw;
    transform: scale(1.6)
    
 }
  27% {opacity: 0}

  32.5% {

    left: -5vw;
  }

  50% {
      left: -5vw;
      opacity: 0;
  }
  90% { left: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes Paris {

  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Paris {

  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg)
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#ManGif {
  -webkit-clip-path: ellipse();
          clip-path: ellipse();
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-animation: 5s linear infinite ManGif;
          animation: 5s linear infinite ManGif;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes ManGif {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 88vh;
    left: 21.5vw;

  }

  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }

  50% {
     -webkit-transform: scale(0.7);
             transform: scale(0.7);
     top: 87vh;
      left: 22.5vw;
  }

  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6)
  }

  85% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.0);
            transform: scale(0.0);
    top: 86vh;
     left: 23vw;
   
  }
}

@keyframes ManGif {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 80vh;
    left: 21.5vw;

  }

  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }

  50% {
     -webkit-transform: scale(0.7);
             transform: scale(0.7);
     top: 79vh;
     left: 22.5vw;
  }

  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6)
  }

  85% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.0);
            transform: scale(0.0);
    top: 77vh;
    left: 23vw;
    
  }
}